@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-Medium.eot);
  src: local("Helvetica Neue Medium"), local("HelveticaNeue-Medium"), url(../fonts/HelveticaNeue-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-Medium.woff2) format("woff2"), url(../fonts/HelveticaNeue-Medium.woff) format("woff"), url(../fonts/HelveticaNeue-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-Light.eot);
  src: local("Helvetica Neue Light"), local("HelveticaNeue-Light"), url(../fonts/HelveticaNeue-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-Light.woff2) format("woff2"), url(../fonts/HelveticaNeue-Light.woff) format("woff"), url(../fonts/HelveticaNeue-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-UltraLightItalic.eot);
  src: local("Helvetica Neue UltraLight Italic"), local("HelveticaNeue-UltraLightItalic"), url(../fonts/HelveticaNeue-UltraLightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-UltraLightItalic.woff2) format("woff2"), url(../fonts/HelveticaNeue-UltraLightItalic.woff) format("woff"), url(../fonts/HelveticaNeue-UltraLightItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-Thin.eot);
  src: local("Helvetica Neue Thin"), local("HelveticaNeue-Thin"), url(../fonts/HelveticaNeue-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-Thin.woff2) format("woff2"), url(../fonts/HelveticaNeue-Thin.woff) format("woff"), url(../fonts/HelveticaNeue-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-MediumItalic.eot);
  src: local("Helvetica Neue Medium Italic"), local("HelveticaNeue-MediumItalic"), url(../fonts/HelveticaNeue-MediumItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-MediumItalic.woff2) format("woff2"), url(../fonts/HelveticaNeue-MediumItalic.woff) format("woff"), url(../fonts/HelveticaNeue-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-CondensedBold.eot);
  src: local("Helvetica Neue Condensed Bold"), local("HelveticaNeue-CondensedBold"), url(../fonts/HelveticaNeue-CondensedBold.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-CondensedBold.woff2) format("woff2"), url(../fonts/HelveticaNeue-CondensedBold.woff) format("woff"), url(../fonts/HelveticaNeue-CondensedBold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue.eot);
  src: local("Helvetica Neue"), local("HelveticaNeue"), url(../fonts/HelveticaNeue.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue.woff2) format("woff2"), url(../fonts/HelveticaNeue.woff) format("woff"), url(../fonts/HelveticaNeue.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-UltraLight.eot);
  src: local("Helvetica Neue UltraLight"), local("HelveticaNeue-UltraLight"), url(../fonts/HelveticaNeue-UltraLight.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-UltraLight.woff2) format("woff2"), url(../fonts/HelveticaNeue-UltraLight.woff) format("woff"), url(../fonts/HelveticaNeue-UltraLight.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-LightItalic.eot);
  src: local("Helvetica Neue Light Italic"), local("HelveticaNeue-LightItalic"), url(../fonts/HelveticaNeue-LightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-LightItalic.woff2) format("woff2"), url(../fonts/HelveticaNeue-LightItalic.woff) format("woff"), url(../fonts/HelveticaNeue-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-Bold.eot);
  src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"), url(../fonts/HelveticaNeue-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-Bold.woff2) format("woff2"), url(../fonts/HelveticaNeue-Bold.woff) format("woff"), url(../fonts/HelveticaNeue-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueLT Std Cn';
  src: url(../fonts/HelveticaNeueLTStd-Cn.eot);
  src: local("HelveticaNeueLTStd-Cn"), url(../fonts/HelveticaNeueLTStd-Cn.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueLTStd-Cn.woff2) format("woff2"), url(../fonts/HelveticaNeueLTStd-Cn.woff) format("woff"), url(../fonts/HelveticaNeueLTStd-Cn.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-CondensedBlack.eot);
  src: local("Helvetica Neue Condensed Black"), local("HelveticaNeue-CondensedBlack"), url(../fonts/HelveticaNeue-CondensedBlack.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-CondensedBlack.woff2) format("woff2"), url(../fonts/HelveticaNeue-CondensedBlack.woff) format("woff"), url(../fonts/HelveticaNeue-CondensedBlack.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-ThinItalic.eot);
  src: local("Helvetica Neue Thin Italic"), local("HelveticaNeue-ThinItalic"), url(../fonts/HelveticaNeue-ThinItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-ThinItalic.woff2) format("woff2"), url(../fonts/HelveticaNeue-ThinItalic.woff) format("woff"), url(../fonts/HelveticaNeue-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-BoldItalic.eot);
  src: local("Helvetica Neue Bold Italic"), local("HelveticaNeue-BoldItalic"), url(../fonts/HelveticaNeue-BoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-BoldItalic.woff2) format("woff2"), url(../fonts/HelveticaNeue-BoldItalic.woff) format("woff"), url(../fonts/HelveticaNeue-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue-Italic.eot);
  src: local("Helvetica Neue Italic"), local("HelveticaNeue-Italic"), url(../fonts/HelveticaNeue-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-Italic.woff2) format("woff2"), url(../fonts/HelveticaNeue-Italic.woff) format("woff"), url(../fonts/HelveticaNeue-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'HelveticaNeueLT Std Lt Cn';
  src: url(../fonts/HelveticaNeueLTStd-LtCn.eot);
  src: local("HelveticaNeueLTStd-LtCn"), url(../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueLTStd-LtCn.woff2) format("woff2"), url(../fonts/HelveticaNeueLTStd-LtCn.woff) format("woff"), url(../fonts/HelveticaNeueLTStd-LtCn.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

.header {
  background: white;
  height: 50px;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-style: normal;
  justify-content: center;
  border-bottom: 1px solid rgba(210, 121, 166, 0.28);
  -moz-border-image: -moz-linear-gradient(270deg, #7E00E8 0%, #FF1876 54%, #BB0CB2 100%);
  -webkit-border-image: -webkit-linear-gradient(270deg, #7E00E8 0%, #FF1876 54%, #BB0CB2 100%);
  border-image: linear-gradient(270deg, #7E00E8 0%, #FF1876 54%, #BB0CB2 100%);
  border-image-slice: 1; }
  .header__content {
    width: 1000px;
    height: 100%;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    color: #5A1094;
    display: flex;
    align-items: center;
    font-size: 24px; }
    .header__logo svg {
      margin-right: 10px; }
  .header__cart {
    height: 20px; }
    .header__cart__content {
      position: absolute;
      color: #C90EA5;
      display: flex;
      align-items: center;
      font-size: 16px;
      letter-spacing: 2px;
      justify-content: end; }
      .header__cart__content svg {
        margin-left: 5px; }
  .header__cart-count {
    position: absolute;
    right: -2px;
    bottom: 10px;
    color: white;
    font-size: 9px;
    font-weight: 500;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background: #FF1876;
    border-radius: 50%;
    text-align: center; }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: #5A1094; }
  .main__content {
    background: white;
    width: 1000px;
    height: 600px;
    display: flex;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.07);
    border-radius: 5px; }
  .main__orders {
    width: 400px;
    background: #E6E9F0;
    opacity: 0.5; }
  .main .order-form {
    width: 600px;
    text-align: left;
    padding: 25px 40px 45px 40px; }
    .main .order-form__steps {
      display: flex;
      align-items: center;
      text-align: left;
      margin: 0;
      padding: 0;
      white-space: nowrap; }
      .main .order-form__steps .steps__item {
        display: inline-block;
        line-height: 18px;
        margin: 0 10px 0 -17px;
        padding: 0 20px;
        position: relative; }
        .main .order-form__steps .steps__item::before, .main .order-form__steps .steps__item::after {
          border-right: 1px solid #979797;
          content: "";
          display: block;
          height: 50%;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          z-index: 1;
          transform: skewX(45deg); }
        .main .order-form__steps .steps__item::after {
          bottom: 0;
          top: auto;
          transform: skewX(-45deg); }
        .main .order-form__steps .steps__item:last-of-type::before, .main .order-form__steps .steps__item:last-of-type::after {
          display: none; }
        .main .order-form__steps .steps__item span {
          font-size: 14px;
          line-height: 16px;
          letter-spacing: -1px;
          text-decoration: none;
          color: #a6a6a6;
          opacity: 0.8; }
        .main .order-form__steps .steps__item.steps__item--on span {
          color: #5A1094 !important; }
    .main .order-form__tab {
      display: none; }
      .main .order-form__tab .form-item {
        margin: 15px 0; }
        .main .order-form__tab .form-item .input {
          width: 100%;
          font-size: 16px;
          line-height: 18px;
          background: #FFFFFF;
          color: #000000;
          border: 1px solid #DEDCDC;
          box-sizing: border-box;
          border-radius: 5px;
          margin: 5px 0;
          padding: 10px 15px; }
        .main .order-form__tab .form-item p {
          font-size: 13px;
          line-height: 12px;
          color: #777879; }
      .main .order-form__tab .title__heading {
        width: 50%;
        display: inline-block; }
      .main .order-form__tab .title__link {
        text-align: right;
        width: 48%;
        display: inline-block; }
    .main .order-form .button {
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF;
      background: rgba(90, 16, 148, 0.8);
      border: 1px solid rgba(67, 28, 93, 0.8);
      border-radius: 5px;
      padding: 13px 60px; }

body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue"; }

.d-fx {
  display: flex; }

.grow-1 {
  flex-grow: 1; }

.grow-2 {
  flex-grow: 2; }

.grow-3 {
  flex-grow: 3; }

.grow-4 {
  flex-grow: 4; }

.grow-5 {
  flex-grow: 5; }

.basis-10 {
  flex-basis: 10%; }

.basis-20 {
  flex-basis: 20%; }

.basis-30 {
  flex-basis: 30%; }

.basis-40 {
  flex-basis: 40%; }

.basis-50 {
  flex-basis: 50%; }

.basis-60 {
  flex-basis: 60%; }

.basis-70 {
  flex-basis: 70%; }

.basis-80 {
  flex-basis: 80%; }

.fx-jstf-cnt-start {
  justify-content: flex-start; }

.fx-jstf-cnt-end {
  justify-content: flex-end; }

.fx-jstf-cnt-around {
  justify-content: space-around; }

.fx-jstf-cnt-between {
  justify-content: space-between; }

.fx-jstf-cnt-center {
  justify-content: center; }

.fx-align-cnt-start {
  align-content: flex-start; }

.fx-align-cnt-end {
  align-content: flex-end; }

.fx-align-cnt-around {
  align-content: space-around; }

.fx-align-cnt-between {
  align-content: space-between; }

.fx-align-cnt-center {
  align-content: center; }

.mrgn-r-5 {
  margin-right: 5px !important; }

.mrgn-r-10 {
  margin-right: 10px !important; }

.mrgn-r-15 {
  margin-right: 15px !important; }

.mrgn-r-20 {
  margin-right: 20px !important; }

.mrgn-r-25 {
  margin-right: 25px !important; }

.mrgn-t-5 {
  margin-top: 5px !important; }

.mrgn-t-10 {
  margin-top: 10px !important; }

.mrgn-t-15 {
  margin-top: 15px !important; }

.mrgn-t-20 {
  margin-top: 20px !important; }

.mrgn-t-25 {
  margin-top: 25px !important; }

.mrgn-l-5 {
  margin-left: 5px !important; }

.mrgn-l-10 {
  margin-left: 10px !important; }

.mrgn-l-15 {
  margin-left: 15px !important; }

.mrgn-l-20 {
  margin-left: 20px !important; }

.mrgn-l-25 {
  margin-left: 25px !important; }

.mrgn-b-5 {
  margin-bottom: 5px !important; }

.mrgn-b-10 {
  margin-bottom: 10px !important; }

.mrgn-b-15 {
  margin-bottom: 15px !important; }

.mrgn-b-20 {
  margin-bottom: 20px !important; }

.mrgn-b-25 {
  margin-bottom: 25px !important; }
